venv/
data/
raw_data/
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.idea
.vscode
*.log
*.bak
*.tmp
*.swp
*.swo
*.env
.env.*
*.coverage
.coverage.*
htmlcov
dist
build
*.whl
*.tar.gz
*.zip
test.py
*.jsonl